*{
  font-family: "Roboto";
}

.bg-container{
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image{
  height: 90px;
  width: 200px;

}
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading{
  text-align: center;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group{
  margin-top: 10px;
  margin-bottom: 25px;
}

.form-control{
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
}

.label-text{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.button {
  color: white;
  background-color: #4c63b6;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.error-message{
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  color: rgb(228, 10, 10);
}
